spring:
  application:
    name: servicio-reservas

  datasource:
    url: jdbc:h2:mem:reservas_db
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 9090
  shutdown: graceful

# ============================================================================
# CAMUNDA PLATFORM 8 - ZEEBE
# ============================================================================
camunda:
  client:
    mode: self-managed
    zeebe:
      #gateway-address: ${ZEEBE_ADDRESS:zeebe:26500}
      #rest-address: ${ZEEBE_REST:http://zeebe:8080}
      grpc-address: http://127.0.0.1:26500
      rest-address: http://127.0.0.1:8088
    auth:
      username: demo
      password: demo
    deployment:
      enabled: true  # opcional, si quieres desplegar BPMN al iniciar

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

logging:
  level:
    dev.javacadabra: DEBUG
    io.camunda.zeebe: INFO